x-base-common: &base-common
  image: allania7med11/shop_back:latest
  restart: always
  env_file: ./shop_back/.env
  volumes:
    - vector_indexes:/vector_indexes
  networks:
    - shop_network
  depends_on:
    - redis

services:
  shop_back_prod:
    container_name: shop_back_prod
    <<: *base-common
    environment:
      - ENVIRONMENT=prod

  shop_worker_prod:
    container_name: shop_worker_prod
    <<: *base-common
    environment:
      - ENVIRONMENT=celery_worker

  shop_beat_prod:
    container_name: shop_beat_prod
    <<: *base-common
    environment:
      - ENVIRONMENT=celery_beat

  redis:
    container_name: shop_redis
    image: redis:alpine
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - shop_network

  nginx_prod:
    container_name: shop_nginx_prod
    image: allania7med11/shop_nginx_prod:latest
    restart: always
    ports:
      - "{{ backend_port }}:80"
    networks:
      - shop_network
    depends_on:
      - shop_back_prod

networks:
  shop_network:
    driver: bridge

volumes:
  vector_indexes:
  redis_data:
