server {
        {% if server %}server_name {{ server }};{% endif %}
        {% if listen_port %}listen {{ listen_port }};{% endif %}
        
        location /back_static/ {
                autoindex on;
                alias /var/www/{{ generated_folder_name }}/;
        }
        
        location ~ ^/(admin|accounts|api|graph)/ {
                proxy_set_header        Host $host;
                proxy_set_header        X-Real-IP $remote_addr;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header        X-Forwarded-Proto $scheme;
                proxy_pass {{ backend }};
        }
        
        location / {
                autoindex on;
                alias /var/www/{{ generated_folder_name_front }}/;
        }
}